{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
{% block content %}
    <h1></h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
         <p class="stl">ID, Школа, Класс<p>
    {%for row in rows%}
        <p class="stl">{{row}}</p>
    {%endfor%}
        <p></p>
        <p>{{form.school_list(class="selecttt")}} {{form.name(size=16, placeholder="Имя класса")}} {{ form.submit(value="Добавить") }}</p>
        <p></p>
        <p><p>{{form.class_list (class="selecttt")}} {{ form.submit2(value="Удалить") }}</p></p>
    </form>
{% endblock %}
{% block footer %}<p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p>{%endblock%}

</html>