{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
{% block content %}
    <h1></h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
                 <p class="stl">Ученик,  Группа<p>
    {%for row in rows%}
        <p class="stl">{{row[1]}}</p>
    {%endfor%}
        <p>{{form.class_list(class="selecttt")}} {{ form.submit2(value="Далее") }}</p>
        <p></p>
        <p>{{form.group_list(class="selecttt")}} {{ form.submit(value="Удалить") }}</p>
    </form>
{% endblock %}
{% block footer %}<p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p>{%endblock%}
