<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!DOCTYPE html>
<html><head>
  <link rel="stylesheet" href="/static/lead_site.css">
<meta charset="utf-8">
<title>Оценка</title>
</head>
<body>
<div class="a">
  <div class="menu">
    <ul class = "mm">
      <li class = "gim"><p class="gim" style="font-size:35px;">4Гимназия </p> </li>
      <li class = "adm"><a href="/admin_school" style="font-size: 20px;" class = "adm">Админ панель </a></li>
    </ul>
    <h1 class='sis'>Система оценивания учителей <br> от 4 Гимназии</h1>
  </div>
</div>
<li class="zn"></li>



</body></html>